* {
    margin: 0;
    padding: 0;

}
:root {
    --body-background: hsl(233, 47%, 7%);
    --main-background: hsl(244, 38%, 16%);
    --insight-color: hsl(277, 64%, 61%);
    --header-color: hsl(0, 0%, 100%);
    --text-color: hsla(0, 0%, 100%, 0.75);
    --stats-color: hsla(0, 0%, 100%, 0.6);
    --coloring: hsla(277, 64%, 61%, 0.5);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--body-background);

}
main {
    width: 940px;
    height: 385px;
    display: flex;
    justify-content: center;
    background-color: var(--main-background);
    border-radius: 7px;
   
}
.part-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 470px;
    
}
header {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: var(--header-color);
    font-weight: 700;
    max-width: 360px;
    margin: 0 50px 0 50px;
}
header span {
    color: var(--insight-color);
}
p {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text-color);
    max-width: 360px;
   
}
.main-text {

    margin: 30px 40px 30px 50px;

}
.stats-div {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    margin: 30px 40px 0 50px;
    
    
}
.stats-span {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.stats-span p {
    font-size: 15px;
}
.stats {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: var(--header-color);
}

.part-b {
    width: 100%;
    height: auto;
    background-color: var(--insight-color);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    
}
.coloring {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: url(img/image-header-desktop.jpg) center/cover no-repeat;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
@media screen and (max-width: 768px) {
    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 85%;
        height: 90%;
    }
    .part-a {
        grid-row: 2;
        min-width: unset;
        justify-content: unset;
    }
    .part-b {
        width: 100%;
        grid-row: 1;
        min-width: unset;
        border-bottom-right-radius: 0;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
    header, p, .stats-div {
        width: unset;
        max-width: unset;
        margin: 0;
    }
    header {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .main-text {
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0;

    }
    .stats-div {
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .stats-span {
        align-items: center;
        margin-bottom: 20px;
    }
    .stats-span p {
        margin-top: 7px;
    }
    .coloring {
        border-bottom-right-radius: 0;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        background: url(img/image-header-mobile.jpg) center/cover no-repeat;
    }

}




